*{
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: flex-start;
    /* justify-content: center; */
    align-items: center;
    /* margin-left: 100px; */
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.nav-bar{
    display: flex;
    
}
.nav-list{
    width: 100%;
    /* background: grey; */
    display: flex;
    justify-content:space-around;
    position: fixed;
    z-index: 1;
}

.nav-list li{
  list-style: none;
  padding: 22px;
}

.nav-list li a{
     text-decoration: none;
     color: white;
     padding: 28px;
}

.nav-list li a:hover{
    text-decoration: none;
    color: rgb(0, 195, 255);
}
.nav-list li .btn:hover{
    background-color: rgb(40, 192, 195);
    cursor: pointer;
}
.btn{
    padding: 12px;
    color:white;
    background-color: rgb(0, 195, 255);
    border: none;
}

.container{
     content:'';
    clip-path : polygon(0 0,100% 0, 100% 95%,100% 95%,0 100%,0% 50%); 
    /* position: absolute; */
    top:0px;
     left : 0px; 
    z-index: -1; 
    color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    height: 780px;
    align-items: center;
    background: url('../HTML-CSS/Assets/header.jpg');
    flex-flow: column;
    height: 1032px;
}

.tableimg{
    display: flex;
    justify-content: center;
    margin-top: -107px;
}

table {
    
    border-collapse: collapse;
    width: 100%;
    
   }
   td{
    border-bottom: 1px solid white;
    padding: 17px;
   }
.first, .second, .third{
    display: flex;
    position: relative;
    margin: 20px;

}
.t1,.t2,.t3{
    display: flex;
    position: absolute;
    justify-content: space-around;
    height: 285px;
    width: 370px;

    color: rgb(255, 255, 255);
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } } 

    #animation1 { 
	/* font: bold 300% Consolas, Monaco, monospace; */
	border-right: .1em solid rgb(0, 195, 255);
	/* width: 16.5em;  */
	width:30ch;
	/* margin: 2em 1em; */
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(29, end), blink-caret .5s step-end infinite alternate;
}


.container1{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 296px;
    align-items: center;
    flex-flow: column;
}

.training{
    display: flex;
    justify-content: center;
   
}

.first1,.second1,.third1{
    display: flex;
    position: relative;
    justify-content: center;
    margin:20px;
    height: 72px;
    width: 143px;
    border: 2px solid grey;
    flex-flow: column;
    padding: 109px;
    
    
}

.first1:hover,.second1:hover,.third1:hover{
    border: 2px solid lightskyblue;
}
.first1:hover p, .second1:hover p, .third1:hover p{
    display: block !important;
    font-size: medium;
    margin-top: 10%;

}
.first1:hover img{
    /* border-color:8px solid white; */
                                            
    margin-top: -93% !important;
    margin-left: 36% !important;
    background-color: white;
    transition: 0.5s;
    z-index: 100;
}
.second1:hover img,.third1:hover img{
    margin-top: -93% !important;
    margin-left: 30% !important;
    background-color: white;
    transition:0.5s;
    z-index:100;
}

